<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="logfile1" xsi:type="File" fileName="log\infoLog.log" />
        <target name="logfile2" xsi:type="File" fileName="log\appLog.log" />
        <target name="logconsole" xsi:type="Console" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="logconsole" />
        <logger name="*" minlevel="Info" writeTo="logfile1" />
        <logger name="*" minlevel="Warn" writeTo="logfile2" />

    </rules>
</nlog>